*{
    color:magenta;
}
/* Attribute selector */
input[type="number"]{

    background-color:black;
}
a[href*="wiki"]{
    color: brown;
}
a[href^="#"]{
    color: chartreuse;
    list-style-position: inside;
}
a[href$=".com"]{
    color: crimson;
}