.main{
    border: 2px solid black;
width: 1000px;
padding: 20px;
/* height: 700px; */
display: flex;
/* flex-direction: row-reverse;
flex-wrap: wrap-reverse; */
flex-direction: row;
justify-content: start;

}
.box1{
    border: 2px solid black;
    margin: 0px;
    width: 200px;
    height: 100px;
    font-weight: bolder;
    font-size: 3rem;
    background-color: burlywood;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}
.box2{
    border: 2px solid black;
    
    width: 200px;
    height: 100px;
    font-weight: bolder;
    font-size: 3rem;
    background-color: rgb(109, 66, 11);
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}
.box3{
    border: 2px solid black;
    
    width: 200px;
    height: 100px;
    font-weight: bolder;
    text-align: center;
    font-size: 3rem;
    padding-top: 20px;
    box-sizing: border-box;
    background-color: rgb(228, 131, 4);
}
.box4{
    border: 2px solid black;
   
    width: 200px;
    height: 100px;
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    background-color: rgb(156, 196, 13);
}
.box5{
    border: 2px solid black;
    
    width: 200px;
    height: 100px;
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
    padding-top: 20px;
    box-sizing: border-box;
    background-color: rgb(56, 20, 156);
}
.box6{
    border: 2px solid black;
    width: 200px;
    height: 100px;
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
    padding-top: 20px;
    box-sizing: border-box;
    background-color: rgb(29, 21, 105);
}