body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 24%, rgba(0,212,255,1) 100%);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 24%, rgba(0,212,255,1) 100%);

}

.loader{
    height: 300px;
    width: 300px;
    border: 20px solid white;
    border-top-color: #090C23;
    border-bottom-color: rgb(2,0,36);
 
    border-radius: 50%;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;


}
@keyframes spin{
    0%{
transform: rotate(0deg);
    }
    100%{
transform: rotate(360deg);
    }
}